[submodule "backend/crypto-card-duel/lib/forge-std"]
	path = backend/crypto-card-duel/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
